<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Koa-React Implementation-Siddhartha</title>
    <link rel="stylesheet" href="/css/site.css">
      <script src="/build/JSXTransformer.js"></script>
      <script src="/build/react.js"></script>
  </head>
  <body>
        <h1>My To-do Lists</h1>
        <div id="UserName">Welcome&nbsp;<span>Siddhartha</span></div>
      <div id="DateTime"></div>
    <div id="todoapp"></div>
      <!--Loading Jax file and rendering with the help of JSXTransformer.js and React Library react.jsfile. Another way of loading is using miified vrsion like app.js file--> 
      <script type="text/jsx" src="/jsx/time.jsx">
      </script>
          <script src="/build/app.js"></script>
</body>
</html>
